/* Google Fonts - Poppins */
@import 
url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        /* VAR */
:root{
    --primary:#F2BB16;
    --secondary: #FFF980;
    --tertiary: #A17C0E;
    --dark: #0F0B00;
    --light:#f2f2f2;
}

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--light);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
/* fin GENERAL */

            /* CABECERA */
<<<<<<< HEAD

=======
>>>>>>> a45838c17546384497b4a30fc044a62f204fe68e
.navbar{
    background-color: var(--dark);
    
}
.nav-link{
    color: var(--light);
}
.nav-item .activo{
    color: var(--primary);
}
.nav-link img{
    width: 170px;
}
.nav-link:hover,
.nav-link:active{
    color: var(--primary);
}
.navbar-toggler{
    color: var(--primary);
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus{
    color: #F2BB16;
}
.navbar-toggler-icon:hover{
    color: #F2BB16;
}
/* fin CABECERA */


            /* SECTION */
.section{
    background-color: var(--light);
    background-image: url(../img/section-img-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.section-card img{
    border-radius: 50%;
    border: var(--tertiary) 2px solid;
    width: 120px;
    height: 120px;
    animation-duration: 0.5s;
    transition: scale 0.15s ease-in-out;
}
.section-card img:hover{
    scale: 1.2;
}
.section-link{
    text-decoration: none;
    border: 0;
    text-underline-offset: none;
    color: var;
    z-index: 99999;
}
.section-img img{
    width: 70%;
}
.title{
    font-size: 60px;
    color: #df0606;
    -webkit-text-stroke: 2px #030303;
}
.subs{
    color: #ffffff;
    margin-top: 20px;
    -webkit-text-stroke: 2px #a10e0e;
}
@media screen and (max-width: 1600px){
    .subs{
        font-size: 50px;
    }
}
@media screen and (max-width: 1000px){
    .subs{
        font-size: 50px;
    }
}
@media screen and (max-width: 600px){
    .subs{
        font-size: 40px;
    }
}
@media screen and (max-width: 460px){
    .subs{
        font-size: 25px;
    }
}
@media screen and (max-width: 300px){
    .subs{
        font-size: 18px;
    }
}
/* fin SECTION */

            /* QUIENES SOMOS */
.sectionQuienesSomos{
    background-color: var(--light);
}
.info-card-image{
    background-color: var(--light);
    width: 150;
}
.info-card img{
    width: 250px;
    border-radius: 50%;  
}
.info-card-image img{
    transition: scale 0.35s ease-in-out , background-color 0.55s ease-in-out , transform 0.35s ease-in-out;
}
.info-card-image img:hover{
    scale: 1.05;
    background-color: var(--primary);
    transform: translateY(-10px);
}
.info-text{
    background-color: var(--secondary);
    color: var(--dark);
    font-weight: 500;
    text-align: justify;
    padding-left: 8px;
}
/* fin QUIENES SOMOS */

/*GALERIA*/
@media screen and (max-width: 2000px){
    .gale{
        font-size: 45px;
    }
}
@media screen and (max-width: 1000px){
    .gale{
        font-size: 40px;
    }
}
@media screen and (max-width: 600px){
    .gale{
        font-size: 30px;
    }
}
@media screen and (max-width: 460px){
    .gale{
        font-size: 22px;
    }
}
@media screen and (max-width: 300px){
    .gale{
        font-size: 18px;
    }
}
/*fin GALERIA*/

/* UBICANOS */
.sectionUbicanos{
    background-color: var(--light);
}
.ubicanos-text{
    background-color: var(--secondary);
    color: var(--dark);
    font-weight: 500;
    padding-left: 8px;
    transition: scale 0.35s ease-in-out , transform 0.35s ease-in-out , border-radius 0.35s ease-in-out , border 0.35s ease-in-out;
}
#ubicanos-text-1{
    border-radius: 15px 15px 0px 0px;
    border: var(--tertiary) solid 2px;
    border-bottom: 0px;
}
#ubicanos-text-1:hover{
    scale: 1.05;
    transform: translateY(-4px);
    border-radius: 15px 15px 15px 15px;
}
#ubicanos-text-2{
    border-radius: 0px 0px 15px 15px;
    border: var(--tertiary) solid 2px;
    border-top: 0px;
}
#ubicanos-text-2:hover{
    scale: 1.05;
    transform: translateY(4px);
    border-radius: 15px 15px 15px 15px;
}
/*CARRUSEL*/
.slide img {
    width: 100%;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
/* fin UBICANOS */

            /* RESERVACIONES */
@media screen and (max-width: 2000px){
    .titulo{
        font-size: 50px;
    }
    }
@media screen and (max-width: 500px){
    .titulo{
        font-size: 35px;
    }
}
@media screen and (max-width: 350px){
    .titulo{
        font-size: 28px;
    }
}
.titulo{
    color: #F2BB16;
    margin-top: 20px;
    -webkit-text-stroke: 2px #A17C0E;
    font-family: Cambria;  
}
.info-reservas{
    text-align: justify;
}
#borde-info{
    align-items: center; 
    padding-top: 35px; 
    padding-bottom: 35px;
    border: rgb(245, 138, 138) 5px groove;
    border-radius: 20px;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.checkeable input {
    display: none;
}
.checkeable img {
    width: 70px;
    border: 3px solid transparent;  
    margin-bottom: 20px;
}
.checkeable input {
    display: none;
}
.checkeable input:checked  + img {
    border-color: #92d2fd;
}
#efectivo{
    border: 2px solid #00fc60;
}
.circular--square {
    border-radius: 50%;
}
#boton{
    text-align: center;
}
#boton1 {
    margin-top: 20px;
    border: 0 solid;
    padding: 5px;
    height: 40px;
    width: 130px;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
    color:rgb(250, 246, 227);
    background-color: red;
    box-shadow: inset 0 0 20px rgb(250, 68, 68);
    outline: 1px solid;
    outline-color: rgba(255, 14, 14, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: #0f0b00;
    outline-offset: 0px;
}
#boton1:hover {
    border: 2px #970909 solid;
    border-radius: 2px;
    box-shadow: inset 0 0 20px rgb(255, 246, 194), 0 0 20px rgba(245, 127, 72, 0.952);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0.829);
    text-shadow: 1px 1px 2px #0F0B00;
    -webkit-text-stroke: 1px #fefff8;
    text-shadow: 2px 2px #0F0B00 ;
}
/* fin RESERVACIONES */

            /* SERVICE */
.señores{
    border: white 8px outset;
}
.titulo p{
    color: var(--primary);
    -webkit-text-stroke: 2px var(--tertiary);
    margin-top: 45%;
}
@media (max-width: 576px){
    .titulo p{
        margin-top: 0%;
    }
}
.tarifa p {
    -webkit-text-stroke: 2px black;
    color: var(--light);
}
/* fin  SERVICE*/
/*CARWASH*/
@media screen and (max-width: 2000px){
    .carw{
        font-size: 80px;
    }
}
@media screen and (max-width: 1100px){
    .carw{
        font-size: 50px;
    }
}
@media screen and (max-width: 700px){
    .carw{
        font-size: 35px;
    }
}
@media screen and (max-width: 575px){
    .carw{
        font-size: 50px;
    }
}
/* fin CARWASH*/

/*GARAGE*/
@media screen and (max-width: 2000px){
    .gara{
        font-size: 80px;
    }
}
@media screen and (max-width: 1100px){
    .gara{
        font-size: 50px;
    }
}
@media screen and (max-width: 700px){
    .gara{
        font-size: 35px;
    }
}
@media screen and (max-width: 575px){
    .gara{
        font-size: 50px;
    }
}
/* fin GARAGE*/
            /* DESARROLLADORES */
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: var(--light);
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    border-radius: 25px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    border-radius: 25px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--tertiary);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--tertiary);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--tertiary);
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: var(--dark);
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: var(--light);
    padding: 8px 16px;
    background-color: var(--tertiary);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    color: var(--dark);
    background: var(--primary);
}
.swiper-button-next,
.swiper-button-prev,
.swiper-navBtn{
    color: var(--tertiary) !important;
    transition: color 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-navBtn:hover{
    color: var(--primary) !important;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: var(--secondary);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--tertiary) !important;
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}
/* fin DESARROLLADORES */

            /* PIE DE PAGINA */
.footer{
    background-color: var(--dark);
}
#btnllamar{
    text-decoration: none;
}
.footer-icon a{
    color: var(--light);
    padding: 15px 12px 15px 12px;
    border-radius: 50%;
    border: var(--light) 1px solid;
}
.footer-icon a:hover{
    color: var(--dark);
    background-color: var(--tertiary);
    border: var(--tertiary) 1px solid;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.footer-link{
    color: var(--tertiary);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.footer-link:hover{
    color: var(--primary);
}
/* fin PIE DE PAGINA */