@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
h1{
  font-family: 'Alegreya', serif;
  font-size: 500px;

}
p{
  font-family: 'Alegreya', serif;
  font-size: 20px;
}
.container{
  background-color: rgb(255, 244, 87);
}
col{
  background-color: rgb(238, 79, 87);
}